<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="danger" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-c">Detalles del pedido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label class="comercio">
                Nombre del comercio
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="text-wrap producto">
                <span>1x nombre del producto</span>
                <span class="text-r float-r">$23.000</span>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="text-wrap">
                <p>
                    <span>Costo domicilio</span>
                    <span class="text-r float-r">$4.000</span>
                </p>
                <p class="total">
                    <span >Total</span>
                    <span class="text-r float-r">$10.000</span>
                </p>
            </ion-label>
        </ion-item>
        <div class="divider"></div>
        <ion-item lines="none">
            <ion-label class="text-wrap">
                <p class="titulo">Dirección de domicilio</p>
                <p>Cl 68Bis A # 105D - 10 - Piso 1</p>
            </ion-label>
        </ion-item>
        <div class="divider"></div>
        <ion-item lines="none">
            <ion-label class="text-wrap">
                <p class="titulo">Más informacion</p>
                <p>
                    <span>N° de pedido</span>
                    <span class="text-r float-r">452</span>
                </p>
                <p>
                    <span>Fecha del pedido</span>
                    <span class="text-r float-r">10/10/2019 - 17:25</span>
                </p>
                <p>
                    <span>Forma de pago</span>
                    <span class="text-r float-r">Efectivo</span>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>