.titulo{
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 2%;
}
.producto{
    span{
        color: #000000;
        font-size: 1rem;
    }
}
span{
    font-size: 0.95rem;
}
// p{
//     line-height: 1;
// }
.total{
    span{
        font-size: 1.1rem;
    }
    
    color: #000000;
    margin-top: 2%;
}
.comercio{
    font-size: 1.3rem;
    color: #000000;
    font-weight: 600;
}