ion-avatar{
    margin: 0 auto;
}
.nombre{
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    margin-top: 5%;
}
.datos{
    margin-left: 16px;
    --padding-start: 0;
    margin-top: 2%;;
}
ion-input{
    text-transform: capitalize;
}
.titulo{
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
}