<ion-content>
    <ion-list>
        <ion-item lines="none">
            <ion-label position="stacked" class="title">Cambio de contraseña</ion-label>
        </ion-item>
        <div class="divider"></div>
        <ion-item>
            <ion-label position="stacked">Contraseña anterior</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Nueva contraseña</ion-label>
            <ion-input type="passowrd"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Confirmar contraseña</ion-label>
            <ion-input type="passowrd"></ion-input>
        </ion-item>

    </ion-list>

</ion-content>
<ion-footer padding no-border>
    <ion-button expand="block" color="danger" class="btn-medium">Guardar</ion-button>
</ion-footer>