<ion-header>
    <ion-toolbar>
        <ion-title class="text-c">Mis pedidos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="full">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label class="text-wrap">
                <p class="comercio">Nombre comercio</p>
                <p class="producto">Nombre del producto</p>
                <p class="fecha">Fecha pedido - $4.0000</p>
                <ion-button color="success" fill="outline" size="medium" [routerLink]="['/detalles-pedido']">
                    <ion-icon name="paper" mode="ios" slot="start"></ion-icon>
                    Ver resumen
                </ion-button>
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label class="text-wrap">
                <p class="comercio">Nombre comercio</p>
                <p class="producto">Nombre del producto</p>
                <p class="fecha">Fecha pedido - $4.0000</p>
                <ion-button color="success" fill="outline" size="medium">
                    <ion-icon name="paper" mode="ios" slot="start"></ion-icon>
                    Ver resumen
                </ion-button>
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label class="text-wrap">
                <p class="comercio">Nombre comercio</p>
                <p class="producto">Nombre del producto</p>
                <p class="fecha">Fecha pedido - $4.0000</p>
                <ion-button color="success" fill="outline" size="medium">
                    <ion-icon name="paper" mode="ios" slot="start"></ion-icon>
                    Ver resumen
                </ion-button>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>