<ion-content padding>
    <div style="display: block; text-align: center; margin-top: 7%;">
       <img src="../../../assets/icon/img1.png" alt="" srcset="" style="margin: 0 auto"> 
    </div>
    
    <ion-list>
        <ion-label class="text-block text-c text-inicio" text-wrap>
            Por favor inicie sesión para<br>continuar
        </ion-label>
        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="formUser.correo"></ion-input>
            <ion-icon name="person" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-icon name="key" slot="start"></ion-icon>
            <ion-input type="password" [(ngModel)]="formUser.contrasena"></ion-input>
        </ion-item>
        <ion-item lines='none' detail='true' text-center class="btn_login" (click)="loginApp()">
            <ion-label style="color: #fff; font-weight: bold;">
                Iniciar Sesion
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list text-center>
        <ion-label class="text-block">
            <ion-text>Aun no tienes cuenta?</ion-text> <ion-text> Registrate</ion-text>
        </ion-label>
        <ion-label class="text-block">
            <ion-text>Olvido su contraseña?</ion-text>
        </ion-label>
        <ion-label class="text-block">
            <ion-icon name="remove"></ion-icon> O <ion-icon name="remove"></ion-icon>
        </ion-label>

        <ion-icon name="logo-facebook" size='large' style="width: 45px; height: 45px;" color='primary' (click)="loginFb()"></ion-icon>
    </ion-list>

</ion-content>