.text-block{
    margin-bottom: 4%;
    color: #00B9FF;
}
.btn_login{
    margin-top: 8%;
    border-radius: 6px;
    --background: #D281EF;
    margin-bottom: 5%;
}
.text-inicio{
    color: #000000;
    font-size: 19px;
    margin-bottom: 5%; 
    margin-top: 5%; 
    font-weight: 600; 
    line-height: 1;
}
