<ion-header no-border>
    <ion-toolbar>
        <ion-grid>
            <ion-row #toolbarUno>
                <ion-col size="12">
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap color-title">
                            Entrega En
                            <p>
                                <span class="direccion">{{locationCoords.direccion}}</span>
                                <ion-icon name="arrow-down" size="medium" slot="end" mode="ios" class="color-icon"
                                    style="vertical-align: middle;"></ion-icon>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="10">
                    <ion-item class="item-search" lines="none">
                        <ion-icon name="search" slot="start" size="medium"></ion-icon>
                        <ion-label>Buscar</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="2" style="text-align: center;">
                    <ion-item lines="none">
                        <ion-icon name="funnel" size="large"></ion-icon>
                    </ion-item>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content myScrollVanish scrollEvents="true" [toolbarUno]="toolbarUno">


    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" class="refresher-native">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <!-- <ion-label class="titulo">
        Recomendados
    </ion-label>
    <div class="scrolling-wrapper">
        <div class="card-recomendados">
            <div class="recomendados">
                <img src="../../../assets/img/deep-pan.png" alt="" srcset="">
            </div>
            <p>Hamburguesa</p>
        </div>
        <div class="card-recomendados">
            <div class="recomendados">
                <img src="../../../assets/img/deep-pan.png" alt="" srcset="">
            </div>
            <p>Perro Caliente</p>
        </div>
        <div class="card-recomendados">
            <div class="recomendados">
                <img src="../../../assets/img/deep-pan.png" alt="" srcset="">
            </div>
            <p>Hamburguesa</p>
        </div>
        <div class="card-recomendados">
            <div class="recomendados">
                <img src="../../../assets/img/deep-pan.png" alt="" srcset="">
            </div>
            <p>Hamburguesa</p>
        </div>
    </div>
    <div class="divider"></div> -->

    <ion-grid *ngIf="tags.length">
        <ion-row>
            <ion-col>
                <ion-label class="titulo">
                    Categorias
                </ion-label>
                <div class="scrolling-wrapper">
                    <div class="card" *ngFor="let item of tags">
                        <div class="categoria">
                            <img src="{{item.icon}}" alt="" srcset="">
                            <!-- <img src="../../assets/icon/hamburguesa.png" alt="" srcset=""> -->
                        </div>
                        <p>{{item.name}}</p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!tags.length">
        <ion-row>
            <ion-col>
                <ion-label class="titulo">
                    Categorias
                </ion-label>
                <div class="scrolling-wrapper">
                    <div class="card">
                        <div class="categoria">
                            <ion-avatar slot="start" class="icono_rest" style="margin: 0 auto;">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-avatar>
                            <!-- <img src="../../assets/icon/hamburguesa.png" alt="" srcset=""> -->
                        </div>
                        <p>
                            <ion-skeleton-text animated style="width: 80%; margin: 0 auto;"></ion-skeleton-text>
                        </p>
                    </div>
                    <div class="card">
                        <div class="categoria">
                            <ion-avatar slot="start" class="icono_rest" style="margin: 0 auto;">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-avatar>
                            <!-- <img src="../../assets/icon/hamburguesa.png" alt="" srcset=""> -->
                        </div>
                        <p>
                            <ion-skeleton-text animated style="width: 80%; margin: 0 auto;"></ion-skeleton-text>
                        </p>
                    </div>
                    <div class="card">
                        <div class="categoria">
                            <ion-avatar slot="start" class="icono_rest" style="margin: 0 auto;">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-avatar>
                            <!-- <img src="../../assets/icon/hamburguesa.png" alt="" srcset=""> -->
                        </div>
                        <p>
                            <ion-skeleton-text animated style="width: 80%; margin: 0 auto;"></ion-skeleton-text>
                        </p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <div class="divider"></div>

    <div *ngIf="!stores.length">
        <ion-list class="ion-padding">
            <ion-item class="item-restaurantes" lines="none">
                <ion-avatar slot="start" class="icono_rest">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3 style="height: 22px;">
                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item class="item-restaurantes" lines="none">
                <ion-avatar slot="start" class="icono_rest">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3 style="height: 22px;">
                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item class="item-restaurantes" lines="none">
                <ion-avatar slot="start" class="icono_rest">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3 style="height: 22px;">
                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item class="item-restaurantes" lines="none">
                <ion-avatar slot="start" class="icono_rest">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3 style="height: 22px;">
                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item class="item-restaurantes" lines="none">
                <ion-avatar slot="start" class="icono_rest">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3 style="height: 22px;">
                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <!-- espacio para los restuarantes -->
    <ion-grid *ngIf="stores.length">
        <ion-row>
            <ion-col>
                <ion-label class="titulo">
                    Restuarantes
                </ion-label>
                <ion-item *ngFor="let item of stores" class="item-restaurantes" lines="none"
                    routerLink="/detalle-restaurante/{{item.store_id}}">
                    <ion-label class="text-wrap">
                        {{item.name}}
                        <span class="name_categoria">Categoria</span>
                        <span class="options">{{item.eta}} - {{item.delivery_price | currency:"$":true:"1.0"}} -
                            {{item.distance_text}}</span>
                    </ion-label>
                    <ion-avatar slot="start" class="icono_rest">
                        <img src="https://images.rappi.com/restaurants_logo/{{item.logo}}">
                    </ion-avatar>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="divider"></div>
</ion-content>