<ion-header>
  <ion-toolbar>
    <ion-title class="text-c">Confirma tu ubicación exacta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div #map id="map"></div>
  </div>
</ion-content>
<ion-footer>
  <ion-label class="text-c text-wrap">
    <br>
    <h1>
      ¿Esta es tu ubicación?
    </h1>
    <br>
    <ion-item>
      <ion-icon slot="start" color="danger" name="locate" mode="md"></ion-icon>
      <ion-label> {{address}}</ion-label>
    </ion-item>
    <br>
  </ion-label>
  <ion-grid>
    <ion-row>
      <ion-col size=6>
        <ion-button class="btn-medium" expand="block" color="danger" (click)="cambiarDireccion();"> Cambiar
        </ion-button>
      </ion-col>
      <ion-col size=6>
        <ion-button class="btn-medium" expand="block" color="danger" (click)="confirmarDireccion();"> Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>