ion-item{
    --padding-start : 0;
}
.tienda{
    // border: solid 1px #f3f3f3;
    // border-radius: 5px;
    // --padding-start: 5px;
    // --padding-end: 5px;
    // margin-top: 2%;
}
.secondary{
    --color: red;
}
.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}
.observaciones{
    border: 1px solid #f3f3f3;
    padding: 6px;
    border-radius: 5px;
}
.btn_agregar, .contador{
    --padding-start: 16px !important;
    border-radius: 5px;
}
ion-title{
    font-size: 16px;
}
.text-r{
    display: inline-block !important;
    margin-left: 5px !important;
}
ion-item-group{
    --border: none !important;
    ion-item-divider{
        position: relative !important;
        --padding-start :0;
        border-bottom: none;
        ion-label{
            font-size: 17px;
            font-weight: 400;
            span{
                font-size: 14px;
                color: #FF8750;
                padding: 5px 0px 5px 15px;
                margin-right: 10px;
                position: relative;
                position: absolute;
                right: 0;
                top: 30%;
            }
        }
    }
    ion-item{
        ion-label{
            font-size: 15px;
            
        }
        ion-radio, ion-checkbox{
            margin-left: 15px !important;
        }
        --padding-start: 16px;
    }
}
.btn_agregar::active{
    transition: background-color 2s;
    --background: #f3f3f3;
    color: #000000;
}

